<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- For floating widget -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- For media projection -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AndroidScript">
        <activity android:name=".activities.StartServiceActivity" />
        <activity android:name=".activities.fgo.FGOEditor" />
        <activity android:name=".activities.basic.BasicEditor" />
        <activity
            android:name=".activities.Menu"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SelectFileActivity"
            android:parentActivityName=".activities.Menu" />

        <service
            android:name=".services.ClickService"
            android:enabled="true"
            android:exported="false"
            android:label="自動點擊"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".services.WidgetService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            android:label="FloatingWidgetService" />
        <service
            android:name=".services.ProjectionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            android:label="ScreenShot" />
    </application>

</manifest>