<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidscript">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidScript">
        <activity android:name=".activities.StartServiceActivity"/>
        <activity android:name=".activities.arknights.ArkKnightsEditor" />
        <activity android:name=".activities.fgo.FGOEditor"/>
        <activity android:name=".activities.basic.BasicEditor"/>
        <activity android:name=".activities.Menu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SelectFileActivity"
            android:parentActivityName=".activities.Menu" />
        <service
            android:name=".floatingwidget.AutoClickService"
            android:enabled="true"
            android:label="自動點擊"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false"
            android:foregroundServiceType="mediaProjection">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".floatingwidget.FloatingWidgetService"
            android:enabled="true"
            android:label="FloatingWidgetService"
            android:foregroundServiceType="mediaProjection"
            />
        <service
            android:name=".floatingwidget.ScreenShotService"
            android:enabled="true"
            android:label="ScreenShot"
            android:foregroundServiceType="mediaProjection"/>
    </application>

</manifest>